<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_with_kmm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppDelegate"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.App.Starting"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App.Starting"
            android:usesCleartextTraffic="true"
            android:windowSoftInputMode="adjustResize">
            <!-- 指定要立即应用于此 Activity 的 Android 主题
                 Android 进程已启动。该主题对用户可见
                 Flutter UI 初始化时。之后这个主题继续
                 确定 Flutter UI 后面的窗口背景。 -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <!-- 显示继续显示启动屏幕的 Android 视图
                 可绘制，直到 Flutter 绘制其第一帧，然后是这个splash
                 屏幕淡出。启动画面有助于避免任何视觉效果
                 Android 启动屏幕末尾与绘制之间的间隙
                 Flutter 的第一帧。-->
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 不要删除下面的元数据。
             Flutter 工具使用它来生成 generatedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="true" />
    </application>
</manifest>
